<a href="https://colab.research.google.com/github/InGev007/startup_acd/blob/main/lesson36/lesson36_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

lesson36_2
Проведіть крос-валідацію для моделі, побудованої на основі датафрейму  petrol_consumption з попереднього завдання. Обґрунтуйте обраний метод крос-валідації.

In [ ]:
import pandas as pd

data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/petrol_consumption.csv")

data.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score


X = data.drop('Petrol_Consumption', axis=1)
y = data['Petrol_Consumption']

# Побудова та тренування моделі
clf = LinearRegression()

In [ ]:
from sklearn.model_selection import KFold

k_folds = KFold(n_splits = 2)
scores = cross_val_score(clf, X, y, cv = k_folds)

print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())
print("Number of CV Scores used in Average: ", len(scores))

Cross Validation Scores:  [0.62456691 0.42577311]
Average CV Score:  0.5251700100784127
Number of CV Scores used in Average:  2

In [ ]:
from sklearn.model_selection import StratifiedKFold

sk_folds = StratifiedKFold(n_splits = 2)
scores = cross_val_score(clf, X, y, cv = sk_folds)

print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())
print("Number of CV Scores used in Average: ", len(scores))

Cross Validation Scores:  [0.42247832 0.43837103]
Average CV Score:  0.4304246707656854
Number of CV Scores used in Average:  2

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(

In [ ]:
from sklearn.model_selection import LeavePOut

lpo = LeavePOut(p=3)

scores = cross_val_score(clf, X, y, cv = lpo)

print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())
print("Number of CV Scores used in Average: ", len(scores))

Cross Validation Scores:  [-1.42036312 -0.00668112 -0.95712594 ...  0.78027547  0.65391768
 -0.19519955]
Average CV Score:  -3.0444062932440805
Number of CV Scores used in Average:  17296

In [ ]:
from sklearn.model_selection import ShuffleSplit

ss = ShuffleSplit(train_size=0.6, test_size=0.3, n_splits = 5)

scores = cross_val_score(clf, X, y, cv = ss)

print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())
print("Number of CV Scores used in Average: ", len(scores))

Cross Validation Scores:  [0.60560999 0.56819791 0.63468218 0.72043139 0.5842687 ]
Average CV Score:  0.6226380326432002
Number of CV Scores used in Average:  5

Так як результат роботи кросс-валідації KFold найкращій обираємо цей метод