Створіть датафрейм розміром 15*5, що містить наступні дані: а) ім'я та прізвище студента; б) середній бал в) оцінка за поточний екзамен г) кількість спроб здачі поточного екзамену

In [1]:
import pandas as pd

data = {
    'Ім\'я': ['Олексій', 'Олена', 'Андрій', 'Ірина', 'Юлія', 
             'Василь', 'Марія', 'Дмитро', 'Софія', 'Віктор', 
             'Наталія', 'Ігор', 'Катерина', 'Павло', 'Анна'],
    'Прізвище': ['Ковальчук', 'Семенчук', 'Бойчук', 'Ковальова', 
                 'Жук', 'Петренко', 'Ткаченко', 'Литвиненко', 
                 'Кравченко', 'Коваленко', 'Іваненко', 'Кравчук', 
                 'Бондаренко', 'Лисенко', 'Шевченко'],
    'Середній бал': [4.2, 3.5, 4.8, 4.1, 4.9, 
                      3.9, 4.6, 4.4, 4.0, 4.7, 
                      4.3, 4.5, 3.8, 4.7, 4.2],
    'Оцінка за поточний екзамен': [5, 4, 3, 4, 5, 
                                    4, 5, 5, 4, 5, 
                                    4, 5, 3, 5, 4],
    'Кількість спроб здачі поточного екзамену': [1, 2, 3, 1, 1, 
                                                  2, 1, 1, 2, 1, 
                                                  3, 1, 1, 1, 2]
}

df = pd.DataFrame(data)
df.head()

,Ім'я,Прізвище,Середній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену
0,Олексій,Ковальчук,4.2,5,1
1,Олена,Семенчук,3.5,4,2
2,Андрій,Бойчук,4.8,3,3
3,Ірина,Ковальова,4.1,4,1
4,Юлія,Жук,4.9,5,1

Додайте до датафрейму стовпчик, що містить дані про допуск студента на наступний курс:

In [2]:
df['Допуск'] = df['Середній бал'] >= 4
df.head()

,Ім'я,Прізвище,Середній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену,Допуск
0,Олексій,Ковальчук,4.2,5,1,True
1,Олена,Семенчук,3.5,4,2,False
2,Андрій,Бойчук,4.8,3,3,True
3,Ірина,Ковальова,4.1,4,1,True
4,Юлія,Жук,4.9,5,1,True

Виведіть мінімальний, максимальний, середній та медіанний показники середнього балу студентів:

In [3]:
df['Середній бал'].agg(['min', 'max', 'mean', 'median'])

min       3.500000
max       4.900000
mean      4.306667
median    4.300000
Name: Середній бал, dtype: float64

Виведіть кількість студентів, що склали поточний екзамен з першого разу:

In [4]:
len(df[df['Кількість спроб здачі поточного екзамену'] == 1])

9

Збережіть будь-які дані з датафрейму у вигляді серії.

In [5]:
series=df['Прізвище']
type(series)

pandas.core.series.Series